{% extends 'base.html.twig' %}

{% block title %} Coder clothes {% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('assets/css/orderDetail.css') }}">{% endblock %}

{% block body %}

    <div class="aCommmande">
        <a href="{{ path('app_profile_orders') }}" class="back">Retour</a>

        {% if aOrder is empty %}
            <h2>Impossible d'accéder à cette commande </h2>

        {% else %}
        <h2>Numero de commande : {{ aOrder.reference }}</h2>

        <div class="grid">
            <div class="elemenet">
                <span class="name">Nom</span>
                <span>Prix</span>
                <span>Nombre</span>
                <span>Prix total</span>
            </div>


            {% if products is empty %}
                <h3 class="rien">Aucun article</h3>
            {% endif %}


            {% set total = 0 %}

            {% for aProduct in products %}
                <div class="aProduct">
                    <span class="name">{{ aProduct.products.name }}</span>
                    <span>{{ aProduct.price/100 }} €</span>
                    <span>{{ aProduct.quantity }}</span>
                    <span>{{ aProduct.quantity*aProduct.price/100 }} €</span>
                </div>

                {% set total = total + aProduct.quantity*aProduct.price/100 %}

            {% endfor %}

            <div class="total">
                <span class="text" style="border-radius: 20px 0 0 0">Total : </span>
                <span>{{ total }} €</span>
                <span style="border-right: none"></span>
                <span style="border-radius:0 20px 0 0"></span>
            </div>

            {% if aOrder.getCoupons() is not null %}
                {% set coupon = aOrder.getCoupons() %}
                {% set total = total - (total * (coupon.discount / 100)) %}

            {% endif %}

            <div class="remise">
                <span class="text">Code Remise : </span>
                <span>
                    {% if coupon is defined %}
                        {{ coupon.code }}
                    {% else %}
                        Pas de code
                    {% endif %}
                </span>
                <span style="border-right: none">Montant</span>
                <span>
                     {% if coupon is defined %}
                         -{{ coupon.discount }}%
                     {% else %}
                         Pas de remise
                     {% endif %}
                </span>
            </div>

            <div class="totalRemise">
                <span class="text" style="border-radius:0 0 0 20px">Total avec remise: </span>
                <span>{{ total }} €</span>
                <span style="border-right: none"></span>
                <span style="border-radius: 0 0 20px 0"></span>
            </div>
        </div>

        {% endif %}
    </div>



{% endblock %}