{% extends 'base.html.twig' %}

{% block title %} Coder clothes {% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('assets/css/orders.css') }}">{% endblock %}


{% block body %}

    <div class="profil-menu">
        <ul class="list-menu">
            <li><a href="{{ path('app_profile_index') }}">Mon profil</a></li>
            <li><a href="{{ path('app_profile_orders') }}" class="active">Commandes</a></li>
        </ul>
    </div>


    {% if orders.count() > 0%}
    <h2>Nombre de commandes : {{ orders.count() }}

    </h2>
        <ul class="lCommandes">
        {% for aorder in orders %}
            <li>
                <span> Numéro commande : {{ aorder.reference }}<br>
                    Date de création: {{ aorder.getCreatedAt()|date("d/m/Y") }}<br>
                    {% set total = 0 %}

                    {% for aProduct in aorder.ordersDetails %}

                        {% set total = total + aProduct.quantity*aProduct.price %}

                    {% endfor %}
                    Total : {{ total }} €

                </span>
                <a href="{{ path('app_profile_orderDetail', {'orders_id' : aorder.getReference()}) }}">Voir plus </a>
            </li>
        {% endfor %}
        </ul>
    {% else %}

    <div class="empty">
        <h1>Aucune commandes</h1>
    </div>

    {% endif %}



{% endblock %}