{% extends 'base.html.twig' %}

{% block title %}A propos de la marque{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('assets/css/about.css') }}">{% endblock %}


{% block body %}


<div class="About">
    <h1 class="logo">
        <span>A propos de : </span>
        <span class="textlogo"><pre>&lt;Coder/> </pre>Clothes</span>
    </h1>

    <section class="blabla">
            <pre>&lt;Coder/></pre>Clothes est une entreprise d'e-commerce qui se démarque de ses concurrents grâce à son approche innovante et créative. <br><br>
            Avec une équipe de designers talentueux et des programmeurs expérimentés,
            <pre>&lt;Coder/></pre>Clothes crée des designs uniques et exclusifs pour ses clients. <br><br>
            De plus, la société utilise des technologies avancées pour offrir une expérience d'achat en ligne fluide et intuitive.<br><br>
            Contrairement à ses concurrents, <pre>&lt;Coder/></pre>Clothes propose également une large gamme de vêtements personnalisés. Avec une telle attention portée à la qualité et à la personnalisation,
            il n'est pas surprenant que <pre>&lt;Coder/></pre>Clothes se soit rapidement imposé comme un leader de l'industrie de la mode des programmeurs en ligne.
    </section>


    <h1 class="Tequipe">A propos de l'équipe : </h1>


    <section class="equipe">
        <div class="aEquipe">
            <img src="{{ asset('assets/images/louis.png') }}" alt="" />
            <h2>Louis HEMARD</h2>
            <p>
                Designer<br/>
                Full stack
            </p>
            <div class="sociaux">
                <a href="">
                    <img src="{{ asset('assets/images/web.svg') }}" alt=""/>
                </a>
                <a href="">
                    <img src="{{ asset('assets/images/linkedin.svg') }}" alt="" />
                </a>
                <a href="">
                    <img src="{{ asset('assets/images/github.svg') }}" alt="" />
                </a>
            </div>
        </div>

        <div class="aEquipe">
            <img src="{{ asset('assets/images/david.png') }}" alt="" />
            <h2>David MAMA</h2>
            <p>
                Full stack<br/>
                Spécialisé Backend
            </p>
            <div class="sociaux">
                <a href="">
                    <img src="{{ asset('assets/images/web.svg') }}" alt=""/>
                </a>
                <a href="">
                    <img src="{{ asset('assets/images/linkedin.svg') }}" alt=""/>
                </a>
                <a href="https://github.com/David87100">
                    <img src="{{ asset('assets/images/github.svg') }}" alt=""/>
                </a>
            </div>
        </div>

        <div class="aEquipe">
            <img src="{{ asset('assets/images/paul.png') }}" alt=""/>
            <h2>Paul RAYNAUD</h2>
            <p>
                Full stack<br/>
                Spécialisé Backend
            </p>
            <div class="sociaux">
                <a href="https://raynaud-paul.fr">
                    <img src="{{ asset('assets/images/web.svg') }}" alt="" />
                </a>
                <a href="">
                    <img src="{{ asset('assets/images/linkedin.svg') }}" alt=""/>
                </a>
                <a href="">
                    <img src="{{ asset('assets/images/github.svg') }}" alt=""/>
                </a>
            </div>
        </div>

        <div class="aEquipe">
            <img src="{{ asset('assets/images/jeremy.jpg') }}" alt=""/>
            <h2>Jérémy PATAPY</h2>
            <p>
                Référent projet<br/>
                Full stack
            </p>
            <div class="sociaux">
                <a href="https://jeremypatapy.fr/">
                    <img src="{{ asset('assets/images/web.svg') }}" alt="" />
                </a>
                <a href="https://www.linkedin.com/in/jeremy-patapy-28a387264/">
                    <img src="{{ asset('assets/images/linkedin.svg') }}" alt="" />
                </a>
                <a href="https://github.com/JPX87">
                    <img src="{{ asset('assets/images/github.svg') }}" alt="" />
                </a>
            </div>
        </div>


    </section>
</div>
{% endblock %}
