{% extends 'base.html.twig' %}

{% block title %} Coder clothes {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/menuhorizontal.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/vetements.css') }}">
{% endblock %}

{% block body %}


<div class="accueil">
    <h1 style="margin: 50px auto 50px auto;width: max-content;font-size: 25px">Voici quelque un de nos produits : </h1>

    {% for category in categories %}
        {% if category.getParent() is not null and category.products is not empty %}
            <section class="blablaproduit container" id="{{ category.name }}" style="margin: 50px auto;">
                <div>
                    {% set productsArray = category.products.toArray() %}
                    {% set randomKeys = range(0, productsArray|length - 1)|shuffle|slice(0, 3) %}
                    {% for key in randomKeys %}
                        {% set product = productsArray[key] %}
                        {% if product.getCategories() == category %}
                            <article class="card item">
                                <div class="card-body">
                                    <h3 id="nom-produit">{{ product.name }}</h3>
                                    <img src="{{ asset('assets/images/products/mini/')}}300-300-{{ product.images[0].name }}" alt="LOGO">
                                </div>
                            </article>
                        {% endif %}
                    {% endfor %}
                </div>
                <a class="voirplus" href="{{ path('app_vetements') }}#{{ category.name }}">Voir tout nos {{ category.name }}s</a>
            </section>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}
