<header class="header">
    <a href="/" class="logo"><pre>&lt;Coder/> </pre>Clothes</a>
    <nav class="navbar">
        <a href="{{ path('app_vetements') }}">Nos Vêtements</a>
        <a href="{{ path('app_about') }}">À propos de la marque</a>
        <a href="{{ path('app_contact') }}">Contact</a>
        <a href="#"><i class='bx bx-shopping-bag'></i></a>

        <div class="account">
            {% if app.user %}
                <span>
                    <i class='bx bx-user-circle'></i>
                </span>

                <div class="plusaccount">
                    <span>{{ app.user.lastname }} {{ app.user.firstname }}</span>
                    <a href="{{ path('app_profile_index') }}">Mon compte</a>
                    <a href="{{ path('app_profile_orders') }}">Mes commandes</a>
                    <a href="{{ path('app_logout') }}">Me déconnecter</a>
                </div>

            {% else %}

                <a href="{{ path('app_login') }}">
                    <i class='bx bx-user-circle'></i>
                </a>

            {% endif %}
        </div>
    </nav>
</header>