<header class="header">
    <a href="/" class="logo"><pre>&lt;Coder/> </pre>Clothes</a>
    <nav class="navbar">
        <a href="{{ path('app_vetements') }}">Nos Vêtements</a>
        <a href="{{ path('app_about') }}">À propos de la marque</a>
        <a href="{{ path('app_contact') }}">Contact</a>

        {% set OrderDetails =  app.session.get('order') %}

        {% set total = 0 %}

        {% if OrderDetails is not null %}
            {% for aOrderDetail in OrderDetails.ordersDetails %}

                {% set total = total + aOrderDetail.quantity %}

            {% endfor %}
        {% endif %}

        <a href="{{ path('app_panier') }}">
            <i class='bx bx-shopping-bag'>
                {% if total > 0 %}
                    <span id="pTotal">{{ total }}</span>
                {% else %}
                    <span id="pTotal" style="display: none">{{ total }}</span>
                {% endif %}
            </i>

        </a>

        <div class="account">
            {% if app.user %}
                <span>
                    <i class='bx bx-user-circle'></i>
                </span>


                <div class="plusaccount">
                    <span>{{ app.user.lastname }} {{ app.user.firstname }}</span>
                    {% if is_granted("ROLE_PRODUCT_ADMIN") %}
                        <a href="{{ path('admin_index') }}">Administration</a>
                        <a href="{{ path('commandes_index') }}">Commandes</a>
                    {% endif %}
                    <a href="{{ path('app_profile_index') }}">Mon compte</a>
                    <a href="{{ path('app_profile_orders') }}">Mes commandes</a>
                    <a href="{{ path('app_logout') }}">Me déconnecter</a>
                </div>

            {% else %}

                <a href="{{ path('app_login') }}">
                    <i class='bx bx-user-circle'></i>
                </a>

            {% endif %}
        </div>
    </nav>
</header>