{% extends 'base.html.twig' %}

{% block title %} Liste des utilisateurs {% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('assets/css/admin.css') }}">{% endblock %}

{% block body %}
    <section>
        {% include "admin/navAdmin.html.twig" %}

        <main>
            <h1>Liste des utilisateurs : </h1>

            <table>

                <tr class="col">
                    <th>ID</th>
                    <th>Email</th>
                    <th>Roles</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Adresse</th>
                    <th>Code postal</th>
                    <th>Ville</th>
                    <th>Est Vérifier</th>
                    <th>Date de création</th>
                    <th>Action</th>
                </tr>

                {% for user in users %}
                    <tr class="row">
                        <td>{{ user.id }}</td>
                        <td>{{ user.email }}</td>
                        <td class="roles">
                            {% for role in user.roles %}
                                {% if role == "ROLE_ADMIN" %}
                                    {% set name = "Administrateur" %}
                                    {% set color = "rouge" %}
                                {% elseif role == "ROLE_PRODUCT_ADMIN" %}
                                    {% set name = "Admin produits" %}
                                    {% set color = "orange" %}
                                {% elseif role == "ROLE_ORDER" %}
                                    {% set name = "Commandes" %}
                                    {% set color = "violet" %}
                                {% else %}
                                    {% set name = "Membre" %}
                                    {% set color = "vert" %}
                                {% endif %}
                            <span class="role {{ color }}">{{ name }}</span>
                            {% endfor %}

                        </td>
                        <td>{{ user.lastname }}</td>
                        <td>{{ user.firstname }}</td>
                        <td>{{ user.address }}</td>
                        <td>{{ user.zipcode }}</td>
                        <td>{{ user.city }}</td>
                        <td>
                            {% if user.getIsVerified() %}
                                <input type="checkbox" class="verified" disabled checked>
                                <label for="myCheckbox"></label>

                            {% else %}
                                <input type="checkbox" class="verified" disabled>
                                <label for="myCheckbox"></label>

                            {% endif %}
                        </td>
                        <td>{{ user.getCreatedAt().format('d/m/y H:i:s') }}</td>
                        <td>
                            <a class="orange" href="{{ path('app_admin_users_edit', {'id' : user.id}) }}">
                                Modifier
                            </a>
                            <a class="rouge" href="{{ path('app_admin_users_delete', {'id' : user.id}) }}">
                                Supprimer
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </main>
    </section>
{% endblock %}