{% extends 'base.html.twig' %}

{% block title %} Coder clothes {% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('assets/css/admin.css') }}">{% endblock %}

{% block body %}
<section>
    {% include "admin/navAdmin.html.twig" %}

    <main>

        {% if error is defined %}
            <span class="categorie-error">{{ error }}</span>
        {% endif %}

        <h1>Liste des catégories : </h1>

        <table>

            <tr class="col">
                <th>ID</th>
                <th>Nom</th>
                <th>Parent</th>
                <th>Slug</th>
                <th>Ordre</th>
                <th>Action</th>
            </tr>

        {% for categorie in categories %}
            <tr class="row">
                <td>{{ categorie.id }}</td>
                <td>{{ categorie.name }}</td>
                <td>
                    {% if categorie.parent is not null %}
                        {{ categorie.parent.name }}
                    {% endif %}
                </td>
                <td>{{ categorie.slug }}</td>
                <td>{{ categorie.categoryOrder }}</td>
                <td>
                    <a class="rouge" href="{{ path('categories_remove', {'id' : categorie.id}) }}">
                        Supprimer
                    </a>
                </td>
            </tr>
        {% endfor %}
        </table>

    </main>

</section>
{% endblock %}