{% extends 'base.html.twig' %}

{% block title %}Nos Vêtements{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('assets/css/vetements.css') }}">{% endblock %}

{% block body %}
    {% for category in categories %}
        {% if category.getParent() != null and category is not empty %}
            <section class="blablaproduit container" id="{{ category.name }}">
                <h2 id="textnamecat">{{ category.name }}</h2>
                <div>
                {% for product in products %}
                    {% if product.getCategories() == category %}
                        <article class="card item">
                            <div class="card-body">
                                <h3 id="nom-produit">{{ product.name }}</h3>
                                <img src="{{ asset('assets/images/products/mini/')}}300-300-{{ product.images[0].name }}" alt="LOGO">
                                <a href="{{ path('app_products_détails', {"slug" : product.slug}) }}" class="bouttondetail">Détail du Produit</a>
                            </div>
                        </article>
                    {% endif %}
                {% endfor %}
                </div>
            </section>
        {% endif %}
    {% endfor %}
{% endblock %}